html {
  background-image: url("../images/plage1.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.card-container .card {
  height: 400px;
  border: solid 1px #f2f2f2;
  margin: 5px;
}

.card-container .card .card-body {
  padding: 10px;
}

.card-container .card img.card-img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

/* .back {
  background: rgba(255, 255, 255, 0.55);
  background-size: auto;

} */

.header .logo a {
  color: rgba(251, 255, 0, 0.884);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Formulaire */
form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 0 auto;
  width: 300px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  /* border: 1px solid #CCC;
  border-radius: 1em; */
}

form div+div {
  margin-top: 1em;
}

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
  font: 1em sans-serif;

  /* Pour que tous les champs texte aient la même dimension */
  width: 200px;
  box-sizing: border-box;

  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-color: #000;
}

textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;

  /* Pour donner assez de place pour écrire du texte */
  height: 5em;
}

.button {
  /* Pour placer le bouton à la même position que les champs texte */
  padding-left: 90px;
  /* même taille que les étiquettes */
}

button {
  /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
  margin-left: .5em;
}

a {
  color: black;
}

/* label {
    left: 12em;
  } */
/* header */

.header {
  background-color: rgb(59, 182, 59);
  box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 0%;
  margin: 0%;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgb(59, 182, 59);
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid green;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: greenyellow;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  color: red;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */


.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  border-bottom: 5px solid black;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 300px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

footer {

  background-color: rgb(59, 182, 59);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  height: 50px;
}

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {

  background-color: #f2f2f2;
  height: 110px;
  padding: 10px 0;

}

nav {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}


.footer {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}


.lang-menu {
  width: 100px;
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
  position: relative;
  top: 3px;
}

.lang-menu .selected-lang {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.lang-menu .selected-lang:before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(https://www.countryflags.io/fr/flat/32.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.lang-menu ul {
  margin: 0;
  padding: 0;
  display: none;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  position: absolute;
  top: 45px;
  right: 0px;
  width: 125px;
  border-radius: 5px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}


.lang-menu ul li {
  list-style: none;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.lang-menu ul li a {
  text-decoration: none;
  width: 125px;
  padding: 5px 10px;
  display: block;
}

.lang-menu ul li:hover {
  background-color: #f2f2f2;
}

.lang-menu ul li a:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 10px;
  background-size: contain;
  background-repeat: no-repeat;
}

.de:before {
  background-image: url(https://www.countryflags.io/de/flat/32.png);
}

.en:before {
  background-image: url(https://www.countryflags.io/us/flat/32.png);
}

.fr:before {
  background-image: url(https://www.countryflags.io/fr/flat/32.png);
}

.ar:before {
  background-image: url(https://www.countryflags.io/ae/flat/32.png);
}


.lang-menu:hover ul {
  display: block;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: rgb(59, 182, 59);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 50px;
  height: 50px;
}

.element {
  display: inline-block;
  color: white;
  /* padding: 1em;
            padding-bottom: 1.7em; */
  width: 9em;
  border-radius: 50em 50em 0 0;
  text-align: center;
}

.footer li {
  display: inline-block;
}

.conteneur {

  height: auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: scroll; */


}

.mentions {
  overflow: scroll;
}

.accueil {
  width: 85%;
  height: auto;
  margin: 8em 1em 1em 1em;
  padding: 1em;
  background-color: rgba(119, 119, 119, 0.8);
  color: white;
  overflow: hidden;
  box-shadow: 7px 7px 7px black;
}

@keyframes slidy {
  0% {
    left: 0%;
  }

  20% {
    left: 0%;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

body {
  margin: 0;
}

div#slider {
  overflow: hidden;
}

div#slider figure img {
  width: 20%;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

.logos {
  width: 20%;
}

/* 48em = 768px */


@media screen and (min-width: 1100px) {

  .logo {
    color: rgba(251, 255, 0, 0.884);
    animation-duration: 2s;
    animation-name: slidein;
    position: absolute;
  }

  .menu {
    font-size: 18px;
  }

  @keyframes slidein {
    from {
      left: 5em;
      width: 25%;
    }

    to {
      left: 0;
      width: 0%;
    }
  }


  .header li {
    float: left;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;

  }

  .header .menu-icon {
    display: none;
  }

  @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
  @import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css');

  * {
    box-sizing: border-box;
    margin-bottom: 0;
  }

  .header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    width: 100px;
  }

  .logo img {
    width: 100px;

  }

  .lang-menu {
    width: 100px;
    text-align: right;
    font-weight: bold;
    margin-top: 10px;
    position: relative;
    left: 25%;
    top: 3px;
  }

  .lang-menu .selected-lang {
    display: flex;
    justify-content: space-between;
    line-height: 2;
    cursor: pointer;
  }

  .lang-menu .selected-lang:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(https://www.countryflags.io/fr/flat/32.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 45px;
    right: 0px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  }


  .lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  .lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 10px;
    display: block;
  }

  .lang-menu ul li:hover {
    background-color: #f2f2f2;
  }

  .lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .de:before {
    background-image: url(https://www.countryflags.io/de/flat/32.png);
  }

  .en:before {
    background-image: url(https://www.countryflags.io/us/flat/32.png);
  }

  .fr:before {
    background-image: url(https://www.countryflags.io/fr/flat/32.png);
  }

  .lang-menu:hover ul {
    display: block;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(59, 182, 59);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
    height: 70px;
    box-sizing: content-box;
    margin-bottom: -5px;
  }

  .element {
    display: inline-block;
    color: white;
    /* padding: 1em;
      padding-bottom: 1.7em; */
    width: 17em;
    border-radius: 50em 50em 0 0;
    text-align: center;
  }

  footer li {
    display: inline-block;
  }

  .conteneur {
    padding-top: 50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 70%;
    margin: auto;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

  }

  .conteneurmentions {
    padding-top: 10%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 70%;
    margin: auto;
    height: 530px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .acceuil {
    width: 90%;
    height: 57em;
    margin: 1em;
    padding: 1em;
    background-color: rgba(119, 119, 119, 0.8);
    color: white;
    overflow: hidden;
    box-shadow: 7px 7px 7px black;

  }
  .mentions{
    width: 90%;
    height: 450px;
    margin: 1em;
    padding: 1em;
    background-color: rgba(119, 119, 119, 0.8);
    color: white;
    overflow: scroll;
    overflow-x: hidden;
    box-shadow: 7px 7px 7px black;

  }

  @keyframes slidy {
    0% {
      left: 0%;
    }

    20% {
      left: 0%;
    }

    25% {
      left: -100%;
    }

    45% {
      left: -100%;
    }

    50% {
      left: -200%;
    }

    70% {
      left: -200%;
    }

    75% {
      left: -300%;
    }

    95% {
      left: -300%;
    }

    100% {
      left: -400%;
    }
  }

  body {
    margin: 0;
  }

  div#slider {
    overflow: hidden;
  }

  div#slider figure img {
    width: 20%;
    float: left;
  }

  div#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slidy infinite;
  }

  figure img {
    height: 480px;
  }

  .logos {
    width: 20%;
  }

  /* Formulaire */
  form {
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 400px;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    /* border: 1px solid #CCC; */
    /* border-radius: 1em; */
  }

  form div+div {
    margin-top: 1em;
  }

  label {
    /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
    display: inline-block;
    width: 90px;
    padding-left: 80px;
    text-align: right;
  }

  input,
  textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;

    /* Pour que tous les champs texte aient la même dimension */
    width: 300px;
    box-sizing: border-box;

    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
  }

  input:focus,
  textarea:focus {
    /* Pour souligner légèrement les éléments actifs */
    border-color: #000;
  }

  textarea {
    /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
    vertical-align: top;

    /* Pour donner assez de place pour écrire du texte */
    height: 5em;
  }

  .button {
    /* Pour placer le bouton à la même position que les champs texte */
    padding-left: 90px;
    /* même taille que les étiquettes */
  }

  button {
    /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
    margin-left: .5em;
  }

}